@import '/src/index.scss';

@layer components {
    .vl-input {
        // style input
        @apply w-[360px] h-12 px-5 py-0;

        // style input value
        @include text-base-style;
        @apply font-bold text-vl_grey-700;
    }

    // ======== OUTLINED ========

    .vl-input-outlined {
        @apply rounded-3xl border-solid border border-vl_grey-600;
    }
    
    // ======== STANDARD ========
    .vl-input-standard {
        // style input
        @apply pl-0 rounded-none border-t-0 border-l-0 border-r-0 border-b border-b-vl_grey-600;

        // // style input effect
        @apply hover:border-r-0 focus:shadow-none focus:border-r-0;
    }

    .vl-input-standard.ant-input-affix-wrapper {
        @apply hover:border-r-0;
    }
    .vl-input-standard.ant-input-affix-wrapper-focused {
        @apply shadow-none;
    }
    
    .vl-input-standard.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus,
    .vl-input-standard.ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus,
    .vl-input-standard.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused,
    .vl-input-standard.ant-input-affix-wrapper-status-warning:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused {
        box-shadow: none !important;
        border-right-width: 0px !important;
        border-radius: none !important;
    }
}