@import '/src/index.scss';

@layer components {
    .vl-select{
        // style select
    }
    .vl-select.ant-select-single {
        // style select
        @apply w-[360px];

        .ant-select-selector {
            border: none;
            @apply h-12;

            .ant-select-selection-search-input {
                @apply h-12;
            }
        }

        .ant-select-selection-placeholder, .ant-select-selection-item {
            @apply flex items-center;
        }

        .ant-select-arrow {
            @apply right-5;
        }

        .ant-select-clear {
            @apply -mt-2 right-6;
        }
    }

    // OUTLINED
    .vl-select-outlined_ver2.ant-select-single {
        .ant-select-selector {
            border: none;
            @apply h-12 rounded-[23px] border-solid border border-vl_grey-600 px-5;
        }
    }

    // STANDARD
    .vl-select-standard_ver2.ant-select-single {
        .ant-select-selector {
            border: none;
            @apply h-12 rounded-none border-t-0 border-l-0 border-r-0 border-solid border-b border-vl_grey-600 px-0;
        }
    }

    .vl-select-standard_ver2.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        @apply hover:border-r-0;
    }

    .vl-select-standard_ver2.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        @apply shadow-none border-r-0;
        outline: none;
    }
}